<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ABC Hardware</title>
    <link href="~/css/index.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scriptContent", required: false) <!-- render a section -->
</head>

<body>
    <header>
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="~/Index">Home</a>
                    </li>
                    <li>
                        <a href="~/item/AddItem">Add Item</a>
                    </li>
                    <li>
                        <a href="~/item/UpdateItem">Update Item</a>
                    </li>
                    <li>
                        <a href="~/item/DeleteItem">Delete Item</a>
                    </li>
                    <li>
                        <a href="~/customer/AddCustomer">Add Customer</a>
                    </li>
                    <li>
                        <a href="~/customer/UpdateCustomer">Update Customer</a>
                    </li>
                    <li>
                        <a href="~/customer/DeleteCustomer">Delete Customer</a>
                    </li>
                    <li>
                        <a href="~/sale/ProcessSale">Process Sale</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="content">
        @RenderBody()
    </div>

    <footer class="footer bg-dark text-white mt-5">
        <div class="container text-center py-3">
            <p>&copy; @DateTime.Now.Year - My Application. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>