@page
@model ydai5.Pages.CreateProgramModel
@{
    ViewData["Title"] = "Create Program";
    Layout = "_Layout";
}
@section scriptContent
{
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<h2>Create Program</h2>
    <form method="post">
        <div>
            <label>Program Code</label>
            <input name="ProgramCode" />
            <span asp-validation-for="ProgramCode"></span>
        </div>

        <div>
            <label>Program Description</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description"></span>
        </div>

        <input type="submit" name="Submit" value="Create Program" />
    </form>
<div>@Model.Message</div>
