@page
@model ydai5.Pages.SignOnModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Student Sign On Page</title>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <h2>User Sign On</h2>

    <form method="post">
        <div>
            <label>UserID</label>
            <input asp-for="UserID" class="form-control" name="UserID" />
            <span asp-validation-for="UserID"></span>
        </div>
        <div>
            <label>Password</label>
            <input asp-for="Password" type="password" name="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <input type="submit">Sign On</input>
    </form>
    <div>@Model.Message</div>
</body>
</html>
