@page
@model ydai5.Pages.WelcomeModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome Page</title>
</head>
<body>
    <div class="text-center">
    <h2>Welcome to BAIS3150</h2>
    <p>Please select an option below:</p>
    <button onclick="location.href='@Url.Page("/SignOn")'" class="btn btn-primary">I am an existing student</button>
    <button onclick="location.href='@Url.Page("/Register")'" class="btn btn-secondary">I am a new student</button>
    <button onclick="location.href='@Url.Page("/Categories")'" class="btn btn-secondary">View Category List</button>
</div>
</body>
</html>